.text-title {
  display: none;
}

.text-none {
  display: none;
}

.margin-text {
  margin-left: 180px;
}

.mobile {
  display: none;
}

.title-li {
  display: none;
}

.custom_button.w-100.opacity {
  opacity: 0;
}

@media only screen and (max-width: 1441px) {
  /* page card */
  .card-bottom .btn-style .custom_button {
    padding: 8px 0;
  }

  .mobile {
    display: none;
  }

  /* ==============squad============== */
  .margin-text {
    margin-left: 170px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1400px) {
  .is_dark .sc-card-product.explode .card-bottom {
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .card-bottom .btn-style {
    width: 100%;
    order: 2;
    justify-content: center;
    display: flex;
  }

  .card-bottom .btn-style .custom_button {
    padding: 8px 0px;
  }

  .sc-card-product .card-bottom .view-history.reload {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    width: 100%;
  }

  .tf-section .swiper {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
  }
}

@media only screen and (max-width: 1392px) {
  .bottom-title.font {
    font-size: 35px;
  }

  .title-slider-bt.font-number {
    font-size: 47px;
  }
}

@media only screen and (max-width: 1320px) {
  /* squad */
  .mobile-none {
    display: none;
  }

  .mobile {
    display: block;
  }

  .value-power-item {
    flex-basis: unset;
  }

  .core-member img {
    width: 80.56px;
  }

  .core-member {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 1237px) {
  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    width: 270px !important;

    /* pandding-right: 15px !important; */
  }
}

@media only screen and (max-width: 1200px) {
  .img-user.gapUser {
    margin-right: 0;
  }

  .menu-profile {
    display: block;
    right: -10px;
  }

  .menu-profile::after {
    left: 150px;
  }
}

@media only screen and (max-width: 1180px) {
  .tf-section.our-creater.dark-style2 ._container {
    padding: 5px 30px;
  }
}

@media only screen and (max-width: 1180px) {
  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    width: 260px !important;
  }
}

@media only screen and (max-width: 1150px) {
  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    width: 250px !important;
  }

  .card-bottom .btn-style .custom_button.w-100.padding-card {
    padding: 8px 0px;
  }
}

@media only screen and (max-width: 1115px) {
  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    width: 240px !important;
  }

  .card-bottom .btn-style .custom_button.w-100.padding-card {
    padding: 8px 20px;
  }
}

@media only screen and (max-width: 1030px) {
  .tf-section.our-creater.dark-style2 ._container {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 1025px) {
  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    width: 300px !important;
  }
  /* squad */
  ._container {
    padding: 10px 30px;
  }

  .img-name {
    flex-basis: 37%;
  }

  .core-member {
    flex-basis: 54%;
  }

  /* page card */
  .px_card {
    padding: 0 50px;
  }

  /* =========================profile===================== */

  .author-profile.flex.heigth-350px {
    height: 300px !important;
  }

  .themesflat-container.mining {
    margin-top: 0px;
  }
  .themesflat-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .flat-tabs.tab-authors.top-0 {
    margin-top: 0px !important;
  }

  /* =============================slider============================== */
  .content .heading.header1 {
    font-size: 30px;
    line-height: 70px;
  }

  .margin-slider {
    margin-top: 30px;
  }

  .mainslider.home .image img {
    width: 815.38px;
  }

  .mainslider.home .flat-slider {
    padding: 0 30px;
  }

  .slider-custom {
    left: 34.72%;
  }

  /* mining============================================= */
  .bottom-title.font {
    font-size: 25px;
  }

  .title-slider-bt.font-number {
    font-size: 46px;
  }

  .row-content .sub-title {
    font-size: 11px;
  }
}

@media only screen and (max-width: 992px) {
  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    width: 260px !important;
  }
  /* ====================================================Header======================= */
  .img-user.gapUser {
    margin-right: 18px;
  }

  .sc-btn-top.mg-r-12 {
    display: none;
  }

  .mobile-user {
    cursor: pointer;
    display: block;
    z-index: 999;
  }

  .mobile-user .pointer.gap {
    /* top: 11px; */
    position: absolute;
    right: 25px;
    font-size: 16px;
    display: flex;
    padding: 10px 10px;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid #5142fc;
    align-items: center;
  }

  .mobile-user .pointer.gap span {
    font-size: 13.5px;
    font-weight: 600;
  }
  /* page home */
  .top-seller.home5 .react-tabs__tab-list {
    position: unset;
    margin-left: 80px;
  }

  /* page ranking */
  .bottom-content {
    flex-flow: column;
    gap: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    /* width: 250px !important; */
  }
  .card-bottom .btn-style .custom_button {
    padding: 8px 0;
  }
}

@media only screen and (max-width: 840px) {
  .page_search .px_card {
    flex-direction: column;
  }

  .page_search .col-box-75 {
    max-width: unset;
    width: 100%;
  }

  .page_search .col-box-25 {
    max-width: unset;
    width: 100%;
  }

  .page_search .flat-tabs.items .react-tabs__tab-panel .sc-card-product {
    min-height: 500px !important;
    min-width: 250px;
  }
}

@media only screen and (max-width: 769px) {
  /* ============================== */
  .min-w {
    min-width: 350px;
  }

  .item-topseller {
    width: 100%;
    justify-content: center;
  }

  /* ====================core changer==================== */
  .item-first {
    flex-direction: column;
  }

  .item-core {
    align-items: start;
  }

  .text-title {
    padding: 15px 0;
    font-weight: 700;
    font-size: 16px;
    display: block;
  }

  .value-power {
    align-items: center;
    display: flex;
  }

  .core-power-item {
    gap: 10px;
  }

  .core-member img {
    margin: 0 10px;
    width: 85px;
    height: 85px;
  }

  /* .core-member {
    margin-left: 50px;
  } */

  /* .img-name {
    margin-left: 15px;
  } */
  .item-first.item-core .img-name.margin-left.unmagrin {
    margin-left: 0px;
  }

  .lead {
    width: 85px;
    height: 85px;
    /* margin-left: 57px; */
  }

  .value-power img {
    width: 20px;
  }

  .header-core-none {
    display: none;
  }

  /* .margin-left {
    margin-left: 56px;
  } */

  .img-name.margin-left {
    gap: 15px;
  }

  .img-name.margin-left .item-content .value-power.mobile img {
    gap: 15px;
    width: 20px;
    height: 20px;
  }

  .text-none {
    display: block;
    width: 100%;
    text-align: start;
    font-size: 20px;
    font-weight: 600;
    color: rgb(173, 173, 171);
  }
  /* ===============================squad============================ */

  .mobile-title {
    display: block;
  }

  .value-power-item {
    display: flex;
    gap: 10px;
  }

  /* ==============================cause============================= */
  .item-content {
    margin-left: 0px;
  }

  /* =====================================cause========================== */
  .bottom-content {
    margin: 0px 46px;
  }

  .bottom-title.font {
    font-size: 36px;
  }

  .bt-content-left h2 {
    font-size: 30px;
    line-height: 45px;
  }

  .title-slider-bt {
    font-size: 25px;
    text-align: center;
  }

  .item-first.cause {
    flex-direction: row;
    gap: 13px;
    align-items: center;
  }

  .title-name-bottom {
    font-size: 18px;
  }

  .title-desc {
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
    color: #ebebeb;
  }

  .title-local {
    font-size: 13px;
  }

  .item-mine-bottom.cause {
    flex-flow: column;
  }

  .title-value.cause {
    flex-flow: column;
    width: 100%;
    display: contents;
  }

  .title-value.cause li {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
  }

  .title-li {
    display: block;
    font-size: 13px !important;
  }

  .title-value.cause li .item-second img {
    width: 20px;
    height: 20px;
  }

  .item-mine-bottom.cause .item-status {
    flex-flow: row;
    align-items: flex-end;
  }

  .title-value.none {
    display: none;
  }

  .title-name .none {
    display: none;
  }
  /* ===========================================card======================== */
  .page_search .px_card {
    justify-content: center;
  }

  .col-card {
    flex: 0 0 35%;
  }

  .row-card {
    display: flex;
    flex-flow: row;
  }

  /* ==========================================================profile=================== */
  .tab-authorMining .author-profile .feature-profile .avatar {
    width: 170px;
    height: 170px;
  }

  .tab-authors .author-profile .btn-profile a.sc-button {
    font-size: 5px;
  }

  .widget-social.style-3 ul li a {
    width: 30px;
    height: 30px;
  }

  .author-profile.flex.heigth-350px .infor-profile .title {
    font-size: 30px !important;
  }
  /* ====================================COLLECTION========= */
  .tab-authors .author-profile.flex.heigth-350px .feature-profile.image img {
    height: 150px !important;
  }

  /* =============================slider============================== */
  .content .heading.header1 {
    font-size: 21px;
    line-height: 43px;
  }

  .margin-slider {
    margin-top: 20px;
  }

  .mainslider.home .image img {
    width: 614.38px;
    height: 408px;
  }

  .mainslider.home .flat-slider {
    padding: 0 30px;
  }

  .slider-custom {
    left: 34.72%;
  }
}

@media only screen and (max-width: 710px) {
  /* ==========================card======================= */
  .row-card {
    flex-flow: column;
  }

  .page_search .col-box-25.max-width-card {
    flex: 0 0 20% !important;
    max-width: 98% !important;
  }

  /* .content-item.open.responsive__card__list.item-center-card {
    justify-content: center;
  } */

  .option .title.nft {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 541px) {
  .sc-card-product.explode.card-height.height-res {
    width: 350px !important;
  }

  /* ==========================slider===================== */
  .mainslider.home .image img {
    display: none;
  }

  .mainslider.home .wrap-heading .content {
    display: flex;
    align-items: center;
  }

  .content .heading.header1 {
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  /* .col-xl-4.col-lg-4.col-md-6.col-12.center {
    display: flex;
    justify-content: center;
  } */
  /* .sc-card-product.explode.card-height.height-res {
    min-height: 495px !important;
    width: 320px !important;
  } */
  /* =========Header================= */
  .mobile-user .pointer.gap {
    border: unset;
    gap: 5px;
    right: 0px;
  }

  .mobile-user .pointer.gap span {
    font-size: 10px;
  }

  /* home page */

  .item-topseller {
    width: 100%;
    justify-content: center;
  }

  .tf-title .pb-20 {
    width: 100%;
  }

  .heading-live-auctions {
    flex-flow: column;
  }

  .heading-live-auctions .exp {
    position: relative;
    margin-right: 0;
    top: -0;
  }

  .tf-title {
    margin-left: 0;
  }

  .tf-title.style2 {
    display: flex;
    justify-content: center;
    transform: translateX(0);
  }

  .top-seller.home5 .react-tabs__tab-list {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  /* =========================corechanger================ */
  .item-core {
    align-items: start;
  }

  .core-member.image-square img {
    width: 50px;
    height: 50px;
  }

  .core-member img {
    width: 50px;
    height: 50px;
    margin: 0 0 10px 10px;
  }

  .core-member {
    margin-left: 0;
  }

  .img-name {
    margin-left: 0;
  }

  .lead {
    width: 85px;
    height: 85px;
    margin-left: 0;
  }

  /* ===================================squad========================= */
  /* ====================================card========================= */
  .card-height {
    height: 490px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .row-card {
    display: block;
    flex-flow: unset;
  }

  /* =================================profile nft ==================== */
  .tf-item-details .content-right .themesflat-tabs .content-again {
    display: unset;
  }

  .tf-item-details .content-right .themesflat-tabs .content-again .price {
    margin: 0px 55px;
  }

  .tf-item-details .content-right .themesflat-tabs li .author-infor .name {
    display: unset;
  }

  .tf-item-details .content-right .themesflat-tabs li .author-infor .name span {
    margin-left: 0;
  }

  .author-infor .time {
    margin-left: 10px;
  }

  .tf-item-details .content-right .themesflat-tabs li .author-infor .name span {
    padding-right: 5px;
  }
  /* =================================dataile project============================== */
  .detailmining {
    padding: 0px 15px;
  }
  .content-again .client .sc-author-box.style-2 .author-infor .time {
    margin-left: 0px;
  }

  /* =================================Collection============================ */
  .tab-authors .author-profile.flex.heigth-350px .feature-profile.image img {
    margin-top: 0px;
    width: 155px;
  }

  .tab-authors .author-profile .infor-profile.top-coll {
    margin-top: 0px;
  }

  .author-profile.flex.heigth-350px.display {
    display: flex !important;
    flex-flow: column-reverse;
  }

  /* .author-profile.flex.heigth-350px.display
    .infor-profile.top-coll
    .content.overflow {
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } */

  .content.overflow.overflow-2 {
    width: 308px;
  }

  .feature-profile.image.margin {
    margin-top: -50px;
  }

  .feature-profile.image.margin.position {
    position: absolute;
    top: 250px;
  }

  .feature-profile.image.margin.position img {
    width: 120px !important;
    max-height: 120px !important;
  }

  .tab-authors .author-profile .infor-profile.top-coll {
    position: absolute;
    top: -45px;
  }

  /* =============================slider============================== */

  .margin-slider {
    margin-top: 20px;
  }

  .mainslider.home .flat-slider {
    padding: 0 30px;
  }

  .slider-custom {
    left: 34.72%;
  }

  /* ===============================cause=========== */
  .bottom-title.font {
    font-size: 20px;
  }

  .title-slider-bt.font-number {
    font-size: 29px;
  }

  .center .mainslider.home .wrap-heading .content {
    display: none;
  }

  .flat-title-page {
    padding-top: unset;
  }

  .mainslider.home .wrap-heading .content {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 376px) {
  .min-w {
    min-width: 295px;
  }

  .item-topseller {
    width: 100%;
    justify-content: center;
  }

  .tf-title .pb-20 {
    width: 100%;
  }

  .heading-live-auctions {
    flex-flow: column;
  }

  .tf-section .swiper {
    margin: 0 0;
  }

  .is_dark .top-seller.home5 .react-tabs__tab-list li {
    font-size: 15px;
  }

  .card-height {
    height: 510px;
  }

  .col-xl-4.col-lg-4.col-md-6.col-12.center {
    display: flex;
    justify-content: center;
  }

  .col-xl-4.col-lg-4.col-md-6.col-sm-6.center.col-card {
    padding-left: 0px;
  }

  /* =========================profile=============== */
  .content.overflow.overflow-2 {
    width: 260px;
  }

  /* =====================silder================= */
  .content .heading.header1 {
    font-size: 19px;
    line-height: 36px;
  }
}
