/* .css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: black;
    color: white;
    
} */

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  text-align: center;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  text-align: center;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 10px !important;
}
